.images {
  width: 55vh;
  height: 35vh;
}
.imageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
figcaption {
  text-align: center;
}
h2 {
  text-align: center;
  text-decoration: underline;
}
h1 {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}
p {
  font-size: 20px;
}
h3 {
  font-size: 25px;
}
a {
  text-align: center;
}
